
.BoxSearch{
    background: #f1957b;
    padding: 20px;
    width: 300px;
    min-width: 300px;
    box-sizing: border-box;
    box-shadow: 10px 0px 2px 0px grey;

}
.inputSearch{
    width: 100%;
    border: 0px;
    padding: 10px 5px;
    border-radius: 10px;
}
.inputSearch:focus-visible{
    outline: none;
}
.note {
    font-size: 12px;
    color: white;
    text-align: end;
}